.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 0 210px;
}

.App-link {
  color: #61dafb;
}
.answer-container {
  display: flex;

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
p {
  padding: 15px;
}
.container {
  justify-content: center;
  padding: 50px;
}

